# Ignorar dependências do Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Ignorar pastas de build (frontend e backend)
dist/
build/

# Ignorar cache do Vite
.vite/

# Ignorar cache do Tailwind
.tailwind/

# Ignorar arquivos do editor
.vscode/
.idea/
.DS_Store

# Ignorar logs e ambiente do backend
backend/logs/
backend/.env
backend/.env.local
backend/.env.*.local

# Ignorar logs e ambiente do frontend
frontend/.env
frontend/.env.local
frontend/.env.*.local
